.panel-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel-text {
    width: 20%;
}

.panel-item {
    width: 30%;
}

.panel-item img {
    width: 100%;
    height: auto;
}